* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header #head {
  width: 100%;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #head .head-container {
  width: 85%;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
}
header #head .head-container .head-link {
  display: flex;
  align-items: center;
  width: 40%;
}
header #head .head-container .head-link ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  margin: auto;
}
header #head .head-container .head-link ul li a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
header #head .head-container .head-link ul li a i {
  color: red;
}
header #head .head-container .head-link button {
  padding: 5px;
  background-color: transparent;
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  cursor: pointer;
}
header #navbar-head {
  width: 100%;
  min-height: 70px;
  background-color: #e8ecf0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header #navbar-head .navbar-container {
  width: 85%;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item {
  min-width: 65px;
  padding: 15px 0px;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 13px;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp {
  width: 100vw;
  min-height: 250px;
  position: absolute;
  top: 75px;
  left: -110;
  display: none;
  z-index: 9;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .drp-display {
  display: flex;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .drp-display .drp-links {
  width: 60%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .drp-display .drp-links .links-container {
  width: 70%;
  min-height: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .drp-display .drp-links .links-container ul {
  list-style: none;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .drp-display .drp-links .links-container ul li {
  margin-bottom: 15px;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .drp-display .drp-links .links-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .drp-display .drp-links .links-container ul li a:hover {
  color: red;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders {
  width: 40%;
  min-height: 250px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer {
  width: 85%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer .additionalOrdersText {
  width: 50%;
  display: flex;
  flex-direction: column;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer .additionalOrdersText p {
  font-size: 13px;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer .additionalOrdersText a {
  width: 85%;
  min-height: 50px;
  background-color: #f45369;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  transition: all 1s;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer .additionalOrdersText a:hover {
  background-color: red;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer .additionalOrdersImg {
  width: 50%;
  display: flex;
  justify-content: end;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer .additionalOrdersImg img {
  width: 100%;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item .navbar-drp .additionalOrders .ordersConrainer .additionalOrdersImg .birbankCashbackCart {
  width: 60%;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item:hover .navbar-drp {
  display: block;
}
header #navbar-head .navbar-container .navbar .collapse .navbar-nav .nav-item:hover {
  border-bottom: 1px solid red;
}
header #navbar-head .navbar-container .birbank-link {
  width: 10%;
  text-align: end;
}
header #navbar-head .navbar-container .birbank-link a img {
  width: 90%;
}

main {
  margin-top: 5px;
}
main #hero {
  width: 100%;
}
main #hero .sliderSection {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8ecf0;
}
main #hero .sliderSection .sliderContainer {
  width: 85%;
  min-height: 400px;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content {
  display: flex;
  justify-content: space-between;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideText {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 20px;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideText a {
  width: 60%;
  min-height: 50px;
  background-color: #f45369;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.5s;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideText a:hover {
  background-color: #ee3f42;
  transition: all 0.5s;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideImg {
  width: 60%;
  min-height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideImg:hover img {
  width: 70%;
  transition: all 1s;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideImg:hover .carouselImageSize {
  width: 42%;
  transition: all 1s;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideImg .carouselImageSize {
  width: 40%;
  transition: all 1s;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .carousel-inner .carousel-item .slide-content .slideImg img {
  width: 60%;
  transition: all 1s;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .controlButtons {
  width: 100%;
  min-height: 90px;
  position: relative;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .controlButtons a {
  width: 0%;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .controlButtons span i {
  font-size: 20px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .controlButtons .carousel-control-prev,
main #hero .sliderSection .sliderContainer #carouselExampleControls .controlButtons .carousel-control-next {
  align-items: flex-end;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .controlButtons .fa-chevron-left {
  position: absolute;
  bottom: 100px;
  left: 75vw;
}
main #hero .sliderSection .sliderContainer #carouselExampleControls .controlButtons .fa-chevron-right {
  position: absolute;
  bottom: 100px;
  right: 20px;
}
main #hero .additionalOperations {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #hero .additionalOperations .additionalOperationsContainer {
  width: 85%;
  min-height: 200px;
  background-color: #f9fafb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 50px;
}
main #hero .additionalOperations .additionalOperationsContainer .operatinons {
  width: 18%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #hero .additionalOperations .additionalOperationsContainer .operatinons .operatinonsContainer {
  width: 95%;
  height: 150px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  transition: all 1s;
  box-sizing: border-box;
}
main #hero .additionalOperations .additionalOperationsContainer .operatinons .operatinonsContainer:hover {
  width: 100%;
  height: 170px;
  transition: all 1s;
}
main #hero .additionalOperations .additionalOperationsContainer .operatinons i {
  font-size: 30px;
  color: red;
}
main #hero .additionalOperations .additionalOperationsContainer .operatinons h5 {
  text-align: center;
  font-size: 17px;
}
main #hero .additionalOperations .additionalOperationsContainer .operatinons h5 p {
  margin: 0;
  font-weight: bold;
}
main #hero .additionalOperations .additionalOperationsContainer .operatinons h5 span {
  font-weight: bold;
}
main #cardAboutSlider {
  width: 100%;
  min-height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #cardAboutSlider #carouselExampleControls2 {
  width: 100%;
  position: relative;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutHeader {
  width: 100%;
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutHeader .cardAboutHeaderContainer {
  width: 85%;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutHeader .cardAboutHeaderContainer .aboutTextBorder {
  width: 45%;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutContent {
  width: 100%;
  min-height: 230px;
  background-color: #eaecf0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutContent .cardAboutContentContainer {
  width: 85%;
  min-height: 230px;
  padding: 20px 0px;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutContent .cardAboutContentContainer .cardAbout {
  display: flex;
  justify-content: space-between;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutContent .cardAboutContentContainer .cardAbout a {
  width: 75%;
  min-height: 60px;
  background-color: #f45369;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutContent .cardAboutContentContainer .cardAbout a:hover {
  background-color: red;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutContent .cardAboutContentContainer .cardAbout .cardAboutImg {
  width: 30%;
  min-height: 200px;
  position: relative;
}
main #cardAboutSlider #carouselExampleControls2 .carousel-inner .carousel-item .cardAboutContent .cardAboutContentContainer .cardAbout .cardAboutImg img {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: -60px;
}
main #cardAboutSlider #carouselExampleControls2 .controlButtons {
  width: 100%;
  min-height: 90px;
  position: relative;
}
main #cardAboutSlider #carouselExampleControls2 .controlButtons a {
  width: 0%;
}
main #cardAboutSlider #carouselExampleControls2 .controlButtons span i {
  font-size: 20px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
main #cardAboutSlider #carouselExampleControls2 .controlButtons .carousel-control-prev,
main #cardAboutSlider #carouselExampleControls2 .controlButtons .carousel-control-next {
  align-items: flex-end;
}
main #cardAboutSlider #carouselExampleControls2 .controlButtons .fa-chevron-left {
  position: absolute;
  bottom: 100px;
  left: 83vw;
}
main #cardAboutSlider #carouselExampleControls2 .controlButtons .fa-chevron-right {
  position: absolute;
  bottom: 100px;
  right: 10vw;
}
main #moneyCredit {
  width: 100%;
  min-height: 350px;
}
main #moneyCredit .moneyCreditHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #moneyCredit .moneyCreditHeader .moneyCreditHeaderContainer {
  width: 85%;
  display: flex;
  justify-content: end;
  align-items: center;
}
main #moneyCredit .moneyCreditHeader .moneyCreditHeaderContainer .moneyCreditText {
  width: 65%;
  padding: 20px 0px;
}
main #moneyCredit .moneyCreditHeader .moneyCreditHeaderContainer .moneyCreditText p {
  font-size: 35px;
}
main #moneyCredit .moneyCreditContent {
  width: 100%;
  background-color: #eaecf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #moneyCredit .moneyCreditContent .moneyCreditContentContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
main #moneyCredit .moneyCreditContent .moneyCreditContentContainer .moneyCreditImg {
  width: 30%;
  min-height: 150px;
  position: relative;
}
main #moneyCredit .moneyCreditContent .moneyCreditContentContainer .moneyCreditImg img {
  position: absolute;
  bottom: 0px;
  left: -50px;
}
main #moneyCredit .moneyCreditContent .moneyCreditContentContainer .moneyCreditAddination {
  width: 65%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
main #moneyCredit .moneyCreditContent .moneyCreditContentContainer .moneyCreditAddination div {
  width: 33%;
}
main #moneyCredit .moneyCreditContent .moneyCreditContentContainer .moneyCreditAddination div a {
  width: 100%;
  min-height: 60px;
  background-color: #f45369;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
main #moneyCredit .moneyCreditContent .moneyCreditContentContainer .moneyCreditAddination div a:hover {
  background-color: red;
}
main #calculator {
  width: 100%;
  min-height: 500px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #calculator .calculatorContainer {
  width: 85%;
  min-height: 500px;
  background-color: bisque;
}
main #calculator .calculatorContainer .calculatorHeader {
  width: 100%;
  min-height: 100px;
  background-color: brown;
}
main #calculator .calculatorContainer .calculatorHeader .calcularotHeadingBtn button {
  padding: 5px 20px;
  background-color: #eaecf0;
  border: none;
  border-radius: 20px;
  margin-right: 5px;
  transition: all 0.8s;
  cursor: pointer;
}
main #calculator .calculatorContainer .calculatorHeader .calcularotHeadingBtn button:hover {
  background-color: #ee3f42;
  color: white;
  transition: all 0.8s;
}
main #calculator .calculatorContainer .calculatorContent {
  width: 100%;
  min-height: 400px;
  background-color: cadetblue;
}
main #calculator .calculatorContainer .calculatorContent #kreditCalculator {
  width: 60%;
  min-height: 300px;
  background-color: tan;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalculatorHeader {
  width: 100%;
  min-height: 120px;
  background-color: dodgerblue;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange {
  width: 100%;
  min-height: 400px;
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange .rangeDiv {
  width: 100%;
  min-height: 80px;
  background-color: white;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange .rangeDiv .sliderValue {
  padding: 20px;
  border: 1px solid #D4D4D4;
  margin-bottom: 0;
  border-radius: 5px;
  border-bottom: none;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange .rangeDiv .calculatorRange {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #e8ecf0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  -webkit-appearance: none;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange .rangeDiv .calculatorRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 21px;
  border: 4px solid white;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange .rangeDiv .calculatorRange::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background-color: blue;
  cursor: pointer;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange .rangeDiv .rangeInterval {
  min-height: 40px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
main #calculator .calculatorContainer .calculatorContent .kreditCalcualtorRange .rangeDiv .rangeInterval p {
  font-size: 12px;
}